body {
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
}

.bottom {
    background-color: green;
    flex-grow: 1;
    min-height: 45vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer {
    background-color: purple;
    width: 100%;
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    background-color: rgb(0, 183, 255);
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.left {
    flex-grow: 1;
}

.right {
    background-color: red;
    flex-grow: 1;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top {
    background-color: yellow;
    flex-grow: 1;
    min-height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(112, 112, 112);
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}